<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="4.1.1.3497" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="WaveEngine.Box2D" version="2.5.0.39" targetFramework="net472" />
  <package id="WaveEngine.Bullet" version="2.5.0.39" targetFramework="net472" />
  <package id="WaveEngine.Common" version="2.5.0.39" targetFramework="net472" />
  <package id="WaveEngine.Components" version="2.5.0.39" targetFramework="net472" />
  <package id="WaveEngine.Framework" version="2.5.0.39" targetFramework="net472" />
  <package id="WaveEngine.LeapMotion" version="2.5.0.39" targetFramework="net472" />
  <package id="WaveEngine.Materials" version="2.5.0.39" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>